{erl_opts, [debug_info,
        {i, ["include"]},
	    {parse_transform, lager_transform}
	    ]}.


{sub_dirs, ["rel"]}.

{lib_dirs, ["deps"]}.

{deps,
 [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.0"}}},
    {worker_pool, ".*", {git, "https://github.com/inaka/worker_pool.git", "facfc7b2c2320cba576a2dcdd12c85c583017bec"}},
    {epgsql, ".*", {git, "git://github.com/epgsql/epgsql.git", {tag, "3.3.0"}}}
 ]
}.

