[
 %% SASL config
	{sasl, [
		 {sasl_error_logger, {file, "log/sasl-error.log"}},
		 {errlog_type, error},
		 {error_logger_mf_dir, "log/sasl"},      % Log directory
		 {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
		 {error_logger_mf_maxfiles, 5}           % 5 files max
	]},

	{psql, [
		{pools, [
			{psql_pool, [
					{size, 10},
					{max_overflow, 20}
				],
				[
					{host, "pgsql-db-server"},
					{database, "database"},
					{username, "user"},
					{password, "password"}
				]}]
		}]
	},

	{worker_pool, [
		{default_strategy, next_worker}
	]}
].



